/.idea/*
.classpath
.project
.settings
.metadata/*
.gwt-tmp/
target/
bin/
classes/
deploy/
.errai/
.DS_Store
*.releaseBackup
release.properties
*.log
.gwt
WEB-INF/classes/
WEB-INF/lib/
webapp/App/
*ErraiBusTests.JUnit/
*.JUnit/
gwt-unitCache/
class_list.txt
*.jpage
session-demo/src/main/webapp/App
session-demo/src/main/webapp/WEB-INF/lib
judcon-demo/src/main/webapp/App
judcon-demo/src/main/webapp/WEB-INF/lib
minitheatre-cdi/src/main/webapp/ErraiCdiMobileDemo
minitheatre-cdi/src/main/webapp/WEB-INF/lib
